.dashboard {
  width: 70vh;
  margin: 15vh auto;
  text-align: center;
  border-radius: 1rem;
  background: $light-teal;
}

.dashboard-header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2vh;
}

.dashboard h1 {
  color: $teal;
}

.infobox {
  width: 50vw;
  padding: 3vw;
  margin: 15vw auto;
  text-align: center;
  background: $light-teal;
}
