.survey-response {
  color: white;
  background: $teal;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding: 1rem;
}

.survey-response h4 {
  text-align: center;
}

.survey-response table {
  margin-left: 20rem;
}
