#survey-ua-question {
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

#survey-ra-question {
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  padding-bottom: 5rem;
}

#survey-ua-question textarea {
  border: none;
  border-radius: 0.5rem;
  background: rgba(255,255,255,0.4);
  color: white;
  max-width: 50rem;
  max-height: 30rem;
  min-width: 30rem;
  min-height: 15rem;
  padding: 1rem;
}

#survey-ua-question textarea:focus {
  border: none;
  border-radius: 0.5rem;
  background: white;
  color: $teal;
  outline: none;
}

#scale-radio input:not(old) {
  opacity: 0;
  width: 2em;
  margin: 0;
  padding: 0;
}

#scale-radio input:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
}

#scale-radio input:checked + label #checked-radio {
  opacity: 1;
}

#scale-radio input:checked + label #checked-checkbox {
  opacity: 1;
}

div#scale-radio {
  float: left;
}
