.survey-results {
  width: 70%;
  margin: 10vh auto;
}

.survey-results h1 {
  color: $teal;
}

.survey-results button {
  background: $teal;
  border: none;
  color: white;
  margin-bottom: 1rem;
}

.survey-results button:hover {
  background: $red;
  border: none;
  color: white;
}

#results-header {
  background: $light-teal;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
}

#results-body {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
